NEXT_PUBLIC_SUPABASE_URL=supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=supabase-service-role-key

STEAM_API_KEY=steam-api-key

APP_SESSION_SECRET=generated-session-secret
